@model Simuladorcredito.Web.Models.Creditofor 
@{
    ViewBag.Title = "Registro";
}

<h2>Bienvenido al Registro "esta en controller"  Aca le podemos meter diseño a la pagina1</h2> 

<form action="/Creditofor/Registro" method="post">

    <!--<label>Nro.Cuota</label>
        <input type="text" id="NroCuota" name="NroCuota" />

        <label>Abono a intereses</label>
        <input type="text" id="AbonoIntereses" name="AbonoIntereses" />

        <label>Abono a capital</label>
        <input type="text" id="AbonoCapital" name="AbonoCapital" />

        <label>Cuota mensual sin seguro </label>
        <input type="text" id="CuotaMensual" name="CuotaMensual" />

        <label>Valor del seguro de vida asociado a la Deuda</label>
        <input type="text" id="AbonoSeguro" name="AbonoSeguro" />

        <label>Cuota mensual más seguros</label>
        <input type="text" id="CuotaMensualmasSeguro" name="CuotaMensualmasSeguro" />

        <label>Saldo</label>
        <input type="text" id="Saldo" name="Saldo" /> -->

    <label>Ingrese Datos: </label> <br>
   

    @*<label>Valor del Prestamo</label>
        <input type="number" id="ValorPrestamo" name="ValorPrestamo" /><br>*@

    @Html.DisplayNameFor(m => m.ValorPrestamo)
    @Html.EditorFor(m => m.ValorPrestamo, new { HtmlAttributes = new { @class = "form-control" } })


    @*<label>Plazo en meses</label>
        <input type="number" id="Plazomeses" name="Plazomeses" /><br>*@

    @Html.DisplayNameFor(m => m.Plazomeses)
    @Html.EditorFor(m => m.Plazomeses, new { HtmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Plazomeses, "", new { @class = "number-danger"})
    <!-- <label>Tasa</label>
        <input type="text" id="CuotaTasa" name="CuotaTasa" /><br>-->
    @*<label>Valor Seguro</label>
        <input type="number" id="ValorSeguro" name="ValorSeguro" /><br>*@

    @Html.DisplayNameFor(m => m.ValorSeguro)
    @Html.EditorFor(m => m.ValorSeguro, new { HtmlAttributes = new { @class = "form-control" } })


    <br><input type="submit" value="Registrar" class="btn btn-primary" />

</form>
